/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 20px 20px;
    background-color: #fff;
}

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}

.navbar-logo-text {
    font-size: 40px;
    color: #333;
}

.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
